body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: #aaaaaa;
}

header, footer {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #dddddd;
}

main {
    margin: auto;
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* Form Styles */
.main-search-bar {
  display: flex;
  flex-direction: row;
}
input#location {
  flex: 8;
}
button#search {
  flex: 1;
}
.filter-holder {
  display: flex;
  justify-content: flex-end;
}
#review-form {
  display: flex;
  flex-direction: column;
}

/* Map Style */
.map {
  background-color: palegreen;
  margin: 10px 0px;
  padding: 10px;
  min-height: 200px;
  min-width: 200px;
}

/* Result Style */
.result-holder {
  padding: 10px;
}


/* Layout for Desktop */

@media all and (min-width: 800px) {
  .map-result-holder {
    display: flex;
    flex-direction: row;
  }
}
