/* Map Style */
.result-map {
  height: 350px;
}

/* Button settings */
button.add-pin {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.map-legend {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.legend-label {
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  color: white;
}
