body {
  width: 95%;
  margin: auto;
  background-color: #aaa;
}

header,
footer {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
}

.main {
  margin: auto 10px;
  position: relative;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

/* Popup settings */
button.add-pin {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: red;
  padding: 4px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

/* Layout for Desktop */

@media all and (min-width: 1000px) {
  .map-result-holder {
    display: flex;
    flex-direction: row;
  }
}
