.pin {
  position: absolute;
  max-width: 20%;
  background-color: var(--dark-sienna);
  border-radius: 4px;
  padding: 4px;
}

.pin::before {
  content: "\A";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}

a.pin-link {
  text-decoration: none;
}
